#category {
  padding-top: 101px;
  padding-bottom: 155px;
  background: linear-gradient(0deg, #d9ecff, #d9ecff00);
  .category_head {
    padding-bottom: 100px;
    h2 {
      font-size: 45px;
      font-weight: bold;
      font-family: $rowdies_font;
      color: #323232;
      padding-bottom: 42px;
      span {
        color: #2aaa94;
      }
    }
    p {
      font-size: 25px;
      font-weight: 500;
      font-family: $saira_font;
      color: #4e596b;
    }
  }
  .cate_inner {
    .card {
      border-style: none;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }

    img {
      padding-bottom: 50px;
      width: 70px;
    }
    h5 {
      font-size: 25px;
      font-weight: 600;
      font-family: $saira_font;
      color: #324361;
      padding-bottom: 45px;
    }
    p {
      font-size: 18px;
      font-weight: 500;
      font-family: $saira_font;
      color: #4f547b;
    }
  }
}
